@import 'theme-colors';


$btnColorForAnswer: #54AE9F;
$btnColorForStartAndNext: #3094D4;

$theme-colors: (btnColorForAnswer: $btnColorForAnswer,
    btnColorForStartAndNext: $btnColorForStartAndNext);


@import "bootstrap";

html,
#app {
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--app-color);
    margin-top: 60px;
    background-color: var(--app-background-color);
}

#answer {
    border: 1px solid;
    text-align: left;
    white-space: pre-wrap;
    padding: 4px;
    margin-bottom: 10px;
}

.jumbotronForQuestions {
    background-color: var(--questionJumbotron-color) !important;
}

.switchTheme {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 18px;

    .input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--questionJumbotron-color);
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 18px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 14px;
        width: 14px;
        left: 2px;
        bottom: 2px;
        background-color: var(--app-background-color);
        -webkit-transition: .5s;
        transition: .5s;
        border-radius: 50%;
    }

    input:checked+.slider {
        background-color: var(--questionJumbotron-color);
    }

    input:focus+.slider {
        box-shadow: 0 0 1px var(--app-background-color);
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
    }
}